@* @using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ApplicationDbContext _context  

@{
    var firstName = Context.Session.GetString("SessionUserName");
    var helloLink = firstName != null ?
    string.Format("Hello {0}!", firstName) : "";
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);  // Get the current user
        var registeredUser = _context.MyRegisteredUsers.FirstOrDefault(u => u.Email == user.Email);

    if (registeredUser != null)
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" style="font-size: 16px;" asp-page="/Account/Manage/Index" title="Manage">Hello @registeredUser.FirstName!</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @user.UserName!</a>
        </li>
    }
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-light" style="font-size: 16px;">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul> *@

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var firstName = Context.Session.GetString("SessionUserName");
    var nameLink = firstName != null ?
    string.Format("Hello {0}!", firstName) : "";
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" style="color:#D9D9D9 !important; font-size: 1em !important;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@nameLink</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark" style="color:#D9D9D9 !important; font-size: 1em !important;">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" style="color:#D9D9D9 !important; font-size: 1em !important;" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" style="color:#D9D9D9 !important; font-size: 1em !important;" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
