@model IEnumerable<PayPalDemo.ViewModels.RoleVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string message = ViewBag.Message;
}

<h1>Role</h1>
@if (message.Length > 0)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) | *@
                    @Html.ActionLink("Delete", "Delete", new { roleName=item.RoleName })
                </td>
            </tr>
        }
    </tbody>
</table>

